NEXT_PUBLIC_API_URL=http://localhost
NEXT_PUBLIC_CMS_MODE=wordpress

# Figma
# FIGMA_ACCESS_TOKEN=figd_5c11z3yuf27MXG0J_0ilVB5mR9R1E7wng8iHHobE
# FIGMA_DEFAULT_THEME=sommet
# FIGMA_FILE_KEY=0zemu4oD8Xfp1hfbZf3NZa
# FIGMA_DESIGN_SYSTEMS="sommet:0zemu4oD8Xfp1hfbZf3NZa ducasse:kBXhDwLnvldq8BdGr8U86A"